body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #212121; /* Tasarımdaki baskın renk */
  background-color: #ffffff;
}

h1{
  color: #ffffff;
  font-size: 56px;
  font-style: bold;
  font-weight: 700;
}
h2{
  font-size: 36px;
  color: #2E2F42;
  font-style: bold;
  font-weight: 700;
  }
h3{
  color: #2E2F42;
  font-size: 20px;
  font-style: medium;
  font-weight: 500;
}
p{
  font-size: 16px;
  font-weight: 400;
}